section.p2.ih-slider.container-fluid.fp.bkc-01
	.iha.afull.property-greeting.z3.fw
		.container.container-sm.text-center
			.row
				img.img-circle(
					ng-src='{{agent.team[0].photo}}',
					alt='{{agent.team[0].name}}')
			.text-uppercase
				h4 welcome to
				h1 {{listing.Details.address}}
				h3
					small.fw.text-uppercase {{listing.Details.city}} {{listing.Details.state}} {{listing.Details.zipcode}}
			p
				strong.text-uppercase presented by: {{agent.agentName}} of {{agent.brokerage}}
			.btn-row
				ih-schedule-visit(listing="listing")
	.ih-slider-row.row
		.ih-slider-inner.carousel-inner.carousel.slide.carousel-fade.full(data-ride='carousel')
			.full.fade.in(
				uib-carousel='',
				active='active',
				no-wrap='false',
				no-pause='true')
				div(
					uib-slide='',
					ng-repeat='slide in slides track by $index',
					index='$index',
					ng-style="{'background-image':'url(' + slide.large + ')'}")
