section.p3.ih-slider.container-fluid.fp(class='{{classes}}')
  .iha.afull.z3.fw
    .ih.container.fullh
      .container-fluid.inner-slider
        h1 {{listing.address}}
        .ih-lg-divider
        .flex-grid
          .flex-4
            .home-facts
              span {{listing.beds}}
                small.text-uppercase Bedrooms
              span {{listing.baths}}
                small.text-uppercase Baths
              span {{listing.sqft}}
                small.text-uppercase SQFT{{listing.sizeUnit}}
              span.text-uppercase {{listing.price | currency}}
          .flex-8
            ih-schedule-visit(listing="listing")
  .ih-slider-row
    .ih-slider-inner.carousel-inner.carousel.slide.carousel-fade.full(data-ride='carousel')
      .full.fade.in(
        uib-carousel='',
        active='active',
        no-wrap='false',
        no-pause='true')
        div(
          uib-slide='',
          ng-repeat='slide in slides track by $index',
          index='$index',
          ng-style="{'background-image':'url(' + slide.large + ')'}")
