//- general contact form
//- used in all general contact areas
.ih-contact-form.f1
  form(
    ng-submit='Contact.$valid && submitContact()',
    name='Contact')
    .text-center.alert.alert-success.fade.in(
      ng-show='contactSent')
      h3
        strong Thank You!
      |  We will be in touch with you shortly. You can also call&nbsp;
      strong {{agent.contactPhone | tel}}.
    .text-center.alert.alert-info.fade.in(
      ng-show='contactSending')
      h3
        strong Please wait..
      h4  We're sending your message...
    .text-center.alert.alert-danger.fade.in(
      ng-show='contactSendFailed')
      h3
        strong We're sorry...
      ih-contact-form-errors(errors="errors")
    .form-group
      label(for='messageName') Full Name
      input#messageName.ih-form-input.form-control(
        type='name',
        ng-model='contact.name',
        required='')
    .row
      .form-group.col-lg-6.col-md-6.col-sm-12.col-xs-12
        label(for='emailAddress') Email
        input#emailAddress.ih-form-input.form-control(
          type='email',
          ng-model='contact.email',
          required='')
      .form-group.col-lg-6.col-md-6.col-sm-12.col-xs-12
        label(for='phoneNumber') Phone
        input#phoneNumber.ih-form-input.form-control(
          type='phone',
          ng-model='contact.phone')
      input.hidden(
        type='text',
        ng-model='contact.confirmEmail',
        name='confirmEmail')
    .form-group
      label(for='textMessage') Message
      textarea#textMessage.ih-form-input.ih-textarea.form-control(
        type='text',
        required='',
        ng-model='contact.note')
    .text-center
      button.btn.btn-primary.block(type='submit') submit
