section.p1.ih-testimonials.ih.z0.fp.fw(
  class='{{classes}}',
  ng-show='testimonials.length > 0',
  ng-style="{'background-image': 'url(' + listing.Details.primaryPhoto.large + ')'}")
  .iha.afull.bkc-01.tpt
    .container.fullh
      .row
        h1.ih-header.text-center What our clients say
      .row
        ih-owl.owl-carousel.tst-carousel(
          items='testimonials',
          responsive='responsive')
          .item.text-center(
            class="{{$index == 0 ? 'active' : ''}}",
            ng-repeat='slide in testimonials | filter: !!hidden')
            blockquote.testimonial(
              itemprop='review')
              .ih-ratings(itemprop='rating')
                i.fa.fa-star(ng-repeat='i in range(1, slide.stars)')
                span.sr-only {{rating}}
              p(itemprop='review fs') {{slide.testimonial | limitTo:300}}...
              a.read-more(
                href='{{slide.reviewURL}}',
                target='_blank',
                ng-show="slide.reviewURL != ''") Read More
              footer {{slide.reviewer}} | {{slide.context}}
        .ih.text-center(ng-hide='!showZillow')
          span.ih-ui.ih-ui-zillow
